{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Sign Up Now</title>
</head>
<body>
    <header>
         <h1 class="logo-field"><a href="/"><img src="{% static 'images/cwblogo.png' %}" alt="CWB"></a></h1>

         <nav>
             <a href="{% url 'login' %}" class="login">Login</a>
             <a href="{% url 'register' %}" class="register">Sign Up</a>
         </nav>
    </header>

    <div class="container">
          <fieldset>
            <legend>
                  <h2>Sign Up Now</h2>
            </legend>
            
            <div class="form-field">
                <input type="text" placeholder="Name" name="userid" class="form-control">
            </div>

            <div class="form-field">
                <input type="text" placeholder="Username" name="userid" class="form-control">
            </div>

            <div class="form-field">
                <input type="email" placeholder="E-mail" name="userid" class="form-control">
            </div>

            <div class="form-field">
                <input type="password" placeholder="Password" name="userid" class="form-control">
            </div>
            <div class="btn-field">
                 <button type="submit" class="btn-control">Sign Up Now</button>
            </div>
             <p style="margin-top: 10px;">Already a member <a href="/login">click here</a></p>
          </fieldset>
    </div>
    <footer>
         <p>Copyright &copy; 2024</p>
    </footer>
</body>
</html>