* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

*:focus{
    outline:none;
}

body{
    margin: 0;
    padding: 0 ;
    
}

h1, h2{ margin:0}

header{
    display:flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.397);
    padding:10px;
    text-align:center;
    height:60px;
}

header img{
    height:50px;
    max-width:100%;
}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
}

nav .login{
    text-align:center;
    color:#fff;
    text-decoration: none;
    padding:10px 26px;
    margin-right: -14px;
    background:grey;
    border-radius: 20px;
    z-index:1;
}

nav .login:hover{
    background:green;
}

nav .register:hover{
    background:rgba(0, 128, 0, 0.678);
    color:#fff;
}

nav .register{
    text-align:center;
    color:#000;
    text-decoration:none;
    background-color: rgba(128, 128, 128, 0.603);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:10px 18px;
    font-weight:bolder;
}

.banner-field{
    width:100%;
    background-color:grey;
    display:flex;
    justify-content:center;
}

.banner-control{
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-control a{
    color:#fff;
    padding: 10px 24px;
    text-decoration:none;
    
}

.banner-control a:hover{
    background-color:green;
    
}

.custom-hr{ 
    height:2px;
    border:none;
    background-color: rgba(128, 128, 128, 0.603);
}

.search-field{
    width:100%;
    background-image: linear-gradient(rgba(128, 128, 128, 0.397), grey);
    height:300px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.search-box{
    text-align: center;
}

.search-box form{
    display:flex;
    justify-content:center;
    align-items: center;
}

.search-box input{
    width: 90%;
    padding: 10px 8px;
    border:none;
}

.search-box h2, h5{
    margin: 20px 0;
}

.form-field-label{
    display:flex;
    justify-content:center;
    width:80%;
    background-color:#fff;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 2px;
}

.ion-ios-search{
    text-align:center;
    align-items:center;
    font-size:20px;
    padding: 8px;
}

.ion-ios-search:hover{
    background-color:green;
    color:#fff;
    height:45px;
    width:45px;
    border-radius:50%;
}

.main-content{
    text-align:center;
    padding: 30px;
    background-image: linear-gradient(rgba(128, 128, 128, 0.397), grey);
}

.main-content h2{
    color:grey;
}

.selected-list{
    display:flex;
    justify-content:center;
    text-align:center;
    padding: 20px 0 0 0;
    
}

.content{
    width: 1366px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.content-box{
    border: 1px solid rgba(168, 165, 165, 0.603);
    padding: 30px 0;
    border-radius:5px;
    box-shadow: 0 4px 30px rgba(128, 128, 128, 0.603);
    background-color: grey;
}

.content-box h4{
    color:#000;
}

.content-box label{
    color:green;
    font-weight: bold;
}


footer{
    width:100%;
    text-align:center;
}

@media only screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}